# Limpieza de los DataFrames

Una vez hemos recabado todos los datos vamos a limpiarlos y dejarlos preparados para el próximo paso que será la creación e inserción en la base de datos.

Todos los dataframes son bastante parecidos, por lo general tienen los mismos campos a excepción del dataframe de natural by Lila al cual le falta la columna de `color` y en el dataframe de forever21 hay una columna de más que es la de `stock`. La idea es hacer una tabla general para juntar todas las marcas y hacer un estudio más global, por lo que habrá que añadir o eliminar las columnas anterioirmente mencionadas. Sin embargo, como en la tabla de forever21 la columna de stock aporta un gran valor, haremos un pequeño estudio particular de esta marca, creando una tabla únicamnte para sus vestidos.

In [14]:
import pandas as pd

Para el dataframe de Natural by Lila añadimos la columna `color`:

In [9]:
df_bylila = pd.read_csv("../datos/dataframes/df_bylila.csv", index_col=0)
df_bylila["color"]="sin definir"
df_bylila_con_color = df_bylila.reindex(columns=['nombre', 'marca', 'precio', 'color', 'talla', 'categoria'])
df_bylila_con_color.to_csv("../datos/dataframes/df_bylila_con_color.csv")
df_bylila_con_color.head(2)

,nombre,marca,precio,color,talla,categoria
0,Mini Vestido Strapless Cascada,Natural by Lila,49.99,sin definir,S,corto
1,Mini Vestido Strapless Cascada,Natural by Lila,49.99,sin definir,M,corto

Para el dataframe de Forever21 creamos una versión sin la columna `stock`:

In [19]:
df_forever21 = pd.read_csv("../datos/dataframes/df_forever21.csv", index_col=0)
df_forever21 = df_forever21.drop(columns="stock")
df_forever21.to_csv("../datos/dataframes/df_forever21_sin_stock.csv")
df_forever21.sample(2)

,nombre,marca,precio,color,talla,categoria
18,sequin mini dress,Forever21,28.00,negro,M,mini
106,rhinestone fringe cami mini dress,Forever21,34.99,negro,XL,mini